{% extends 'main.html' %}
{% block title %}
Контакты
{% endblock %}
{% block content %}
    <div class="container">
    <a href="javascript:history.go(-1)" class="btn btn-success">Назад</a>
<h4 class="text-info">Cушки и Роллы —  доставка суши в Москве.Все блюда приготовлены с соблюдением всех технологических и санитарных норм мастерами своего дела.  Вы можете заказать доставку на дом или в офис: суши, роллы, салаты и другие блюда японской кухни.

Предлагает заказать полезные и низкокалорийные суши и роллы,а также пиццу. Нашими курьерами будет обеспечена Вам быстрая  доставка суши и других блюд по Челябинску на дом и в офис, в удобное для Вас время.

Мы предлагаем Вам блюда изысканной восточной кухни, которая сохраняется на протяжении тысячелетней истории стран Восходящего Солнца. Японцы относятся к приготовлению своих блюд, как к произведению искусства, а свежесть и тонкое сочетание ингридиентов ни за что не оставит Вас равнодушными.

Вы можете насладиться этим разнообразием суши, роллы, не выходя из дома. Обед в офисе из знаменитой темпуры настроит на особый рабочий лад, а в случае приёма дорогих клиентов или партнёров красота преподносимых блюд расположит к сотрудничеству даже самых взыскательных из них, ведь для японцев еда — это не просто способ уталить голод, это ещё и удовольствие, повод для встреч и праздников. И мы принесём этот, пусть небольшой, но праздник к Вам домой или в офис.</h4>
    <p><h3 class="text-primary">г. Москва, ул.Новощукинская 12</h3></p>
    <p><h3 class="text-primary">dimat82@list.ru</h3></p>
    <p><h3 class="text-primary">Тел. 8-985-350-25-63</h3></p>
    </div>
{% endblock %}
