{% extends 'main.html' %}
{% block title %}
Новости
{% endblock %}
{% block content %}
    <div class="container">
    <a href="javascript:history.go(-1)" class="btn btn-success">Назад</a>
    <h2 class="text-center">Все новости</h2>
        <br>
<div class="media">
    {% for object in object_list %}
        <div class="row">
            <div class="col-md-5">
        {% if object.photo %}
            <a href="{% url 'news_detail' pk=object.id %}"><img src="{{ object.photo.url }}" height="200" width="300"></a>
        {% endif %}
        </div>
        <div class="col-md-7">
        <div class="media-body">
            <a href="{% url 'news_detail' pk=object.id %}"><h4 class="">{{ object.title }}</h4></a>
            {{ object.description }}
        </div>
        </div>
        </div>
        <br>
    {% endfor %}
</div>
    </div>
{% endblock %}

